@use 'variables' as *; // Importo las variables primero

@use '_fonts';
@use '_layout_light';
@use '_layout_dim';
@use '_layout_dark';
@use '_main';
@use '_sidebar_vertical';
@use '_sidebar_slim';
@use '_sidebar_slim_plus';
@use '_sidebar_horizontal';
@use '_sidebar_reveal';
@use '_sidebar_drawer';
@use 'menutheme/_menutheme';
@use '_responsive';
@use '_topbar';
@use '_breadcrumb';
@use '_profile';
@use '_config';
@use '_content';
@use '_typography';
@use '_utils';

//
//******************************************************************************************************************************
//
//Personalizaciones 
//
//******************************************************************************************************************************
//

.field > label {
    display: inline-block;
    margin-bottom: 0rem;
}

.p-fieldset .p-fieldset-content {
    padding: 0rem 1.25rem 0rem 1.25rem;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.card{
    padding: 1.5rem;
}

.layout-content-wrapper {
    padding: 1rem 2rem;
}

.layout-topbar {
    margin-bottom: 1rem;
}

.layout-sidebar .sidebar-header {
    padding: 1rem 0 0rem 0;
}

.gap-2 {
    gap: 0rem !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0rem 0 1rem 0;
}