@use "sass:meta";
@use 'badges.scss';

@import './flags/flags.css';

@include meta.load-css('code.scss');
@include meta.load-css('BlockViewer.scss');
@include meta.load-css('Landing.scss');
@include meta.load-css('CustomFileUpload.scss');
@include meta.load-css('Calendar.scss');
